body {
      background-color: #f8f9fa;
    }
    .card img{
      height: 13rem;
    }
    .product-card {
      border-radius: 15px;
      box-shadow: 0 2px 10px rgba(0,0,0,0.1);
      transition: transform 0.2s ease-in-out;
    }
    .product-card:hover {
      transform: scale(1.03);
    }